html {
    line-height: .3in;
    font-size: 20px;
}

* {
    border-color: red;
    border-style: dashed;
    border-width: 1px;
}

body{
    background-color: #2A2B2A;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#empty-space {
    width: 15%;
}

.nav-container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 16px;
}

#header-title {
    min-width: 150px;
    flex: 0 0 auto
}

.recipe-image {
    aspect-ratio: 1/1;
    max-width: 25%;
    max-height: 25%;
}

ol {
    list-style: none;
}

.step-header {
    margin-bottom: 0px;
}

.step-description {
    margin-top: 5px;
    margin-bottom: 25px;
}

.list-box {
    max-width: 40%;
    text-align: left;
    padding: 0;
}

div#recipe-nav-box {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
#nav-recipe-list {
    display: inline-block;
    list-style: none;
    text-align: left;
    width: 250px;
    justify-content: center;
}

#nav-recipe-list li {
    margin-bottom: 25px;
}

.article-link {
    text-decoration: none;
    color: white;
}

a:hover.article-link:before, a:hover#home-link:before  {
    content: ">";
}

a:hover.article-link.pizza:after {
    content: url(images/detroit-pizza_200x200.jpeg);

}

a:hover.article-link.egg-casserole:after {
    content: url(images/egg-before_200x200.webp);

}

a:hover.article-link.lemon-lush:after {
    content: url(images/lemon-before_200x200.webp);

}

#home-link {
    color: white;
    text-decoration: none;
}

